{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TicketList - Administra tus inconvenientes</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/tickets.png' %}"/>
</head>

<body class="bg-dark" onload="funcionMensaje()">
    <!-- Simply Toast -->
<script>
    function funcionMensaje() {

        $.simplyToast.defaultOptions = {
            appendTo: "body",
            customClass: false,
            type: "info",
            offset: {
                from: "top",
                amount: 20
            },
            align: "right",
            minWidth: 250,
            maxWidth: 450,
            delay: 4000,
            allowDismiss: false,
            spacing: 10
        };

        <!--Mensaje de Resultado-->
        {% if messages %}
            {% for message in messages %}

                var mensaje = "{{ message }}"

                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}

                    $.simplyToast(mensaje, 'info');

                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                    $.simplyToast(mensaje, 'success');

                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}

                    $.simplyToast(mensaje, 'warning');

                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

                    $.simplyToast(mensaje, 'danger');

                {% endif %}

            {% endfor %}

        {% endif %}
    }

</script>

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form role="form" method="post">{% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input class="form-control" id="usuario" name="usuario" type="text" placeholder="Ingrese Usuario">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" id="password" name="password" type="password" placeholder="Password">
          </div>
          <div class="form-group">
          </div>
          <input type="submit" value="Entrar" class="btn btn-lg btn-primary btn-block"/>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Simply Toast -->
    <script src="{% static 'vendor/Toast/simply-toast.js' %}"></script>
</body>
</html>
