{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/main"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            {% if request.user.is_superuser %}
                <li class="breadcrumb-item"><a href="/rol/todos">Roles</a></li>
            {% endif %}
            <li class="breadcrumb-item active">{{ titulo }}</li>
        </ol>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{{ titulo }}</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="panel-body">
            <div class="col-lg-5">

                <form role="form" action="{{ action }}" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label for="nombreRol">Nombre : </label>
                        <input class="form-control" id="nombreRol"
                               placeholder="Nombre para el Rol" name="groupName"
                               value="{{ rol.name }}" required>
                    </div>
                    <div style="text-align: center">
                        <a href="/rol/todos" class="btn btn-primary">Atrás</a>
                        <input type=submit value="Guardar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
