{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/main"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            {% if request.user.is_superuser %}
                <li class="breadcrumb-item active"><a href="/rol/todos">Roles</a></li>
            {% endif %}
        </ol>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Roles</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="panel-body">

            <div class="dataTable_wrapper" style="width:70%" align="center">
                <table class="table table-bordered" id="listarRoles">
                    <thead>
                    <tr>
                        <th>Rol</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rol in RolesList %}
                        <tr>
                            <td>{{ rol.name }}</td>
                            <td>
                                <a href="/rol/editar/{{ rol.id }}" class="btn btn-sq-xs btn-primary"><i
                                        class="fa fa-pencil fa-1x"></i><br/></a>
                                <a href="/rol/detalle/{{ rol.id }}" class="btn btn-sq-xs btn-primary"><i
                                        class="fa fa-info fa-1x"></i><br/></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div style="text-align: center">
                    <a href='/rol/new' class="btn btn-primary">Crear Rol</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}