{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/main"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li class="breadcrumb-item"><a href="/ticket/todos">Tickets</a></li>
            <li class="breadcrumb-item active">{{ titulo }}</li>
        </ol>
        <div class="card-header">
            <i class="fa fa-tasks"></i> {{ titulo }}
        </div>
        <div class="list-group list-group-flush small">

            <p class="card-text text-center" id="pushticket" hidden>

            </p>
            {% for ticket in ticketList %}
            <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                    <div class="media-body" style="line-height: 20%;">
                        <small style="color: #828e95"><strong>
                            #{{ ticket.id }} - {{ ticket.inconveniente.descripcion }}</strong>
                        &bull; {{ ticket.fechaCreacion | date:'d-m-Y H:i' }}
                            &bull;
                        {% if ticket.estado == 'PENDIENTE' %}
                            <span class="badge badge-secondary">{{ ticket.estado }}</span>
                        {% endif %}
                        {% if ticket.estado == 'ATENDIDO' %}
                            <span class="badge badge-warning">{{ ticket.estado }}</span>
                        {% endif %}
                        {% if ticket.estado == 'SOLUCIONADO' %}
                            <span class="badge badge-success">{{ ticket.estado }}</span>
                        {% endif %}
                        {% if ticket.estado == 'NO_SOLUCIONADO' %}
                            <span class="badge badge-danger">NO SOLUCIONADO</span>
                        {% endif %}


                        </small>
                        <br /><br /><br /><br /><br /><br />
                        <p> {{ ticket.descripcionBreve }} </p>
                        <small> Shelter: <strong>{{ ticket.shelter }}</strong></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <small>Numero: <strong>{{ ticket.numeroAfectado }}</strong></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <small>Creado por: <strong>{{ ticket.usuarioCreacion }} - {{ ticket.codigo }}</strong></small>
                        <div class="pull-right">
                            {% if perms.ticket.change_state_ticket %}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                {% if ticket.estado == 'PENDIENTE' %}
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/atender/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="Atender">
                                    <i class="fa fa-level-up" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                                {% if ticket.estado == 'ATENDIDO' %}
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/solucionar/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="Solucionado">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/sin-solucion/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="No solucionado">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/detalle/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                    <i class="fa fa-info-circle " aria-hidden="true"></i>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
{% endblock %}

{% block blockjs %}
    <script>
        function goto(link) {
            console.log(link);
            window.location = link;
        }
        function actualizarList(){
            {% if pagina != "MISTICKETS" %}
            $.ajax({
                data : {
                    {% if pagina == "PENDIENTE" %}
                    estado:'PENDIENTE',
                    {% endif %}
                    {% if pagina == "ATENDIDO" %}
                    estado:'ATENDIDO',
                    {% endif %}
                    {% if pagina == "SOLUCIONADO" %}
                    estado:'SOLUCIONADO',
                    {% endif %}
                    {% if pagina == "NO_SOLUCIANDO" %}
                    estado:'NO_SOLUCIANDO',
                    {% endif %}
                },
                url:'/ticket/actualizaciones-ajax/',
                type:'get',
                success: function (data) {
                    var cont = 0;
                    for(var i = 0; i<data.length ; i++){
                        existe = false;
                        {% for ticket in ticketList %}
                            if(data[i].pk == {{ ticket.id }}){
                                existe = true;
                            }
                        {% endfor %}
                        if(!existe){
                            cont++;
                        }
                    }

                    {% for ticket in ticketList %}
                        existe = false;
                        for(var i = 0; i<data.length ; i++){
                            if(data[i].pk == {{ ticket.id }}){
                                existe = true;
                            }
                        }
                        if(!existe) {
                            cont++;
                        }
                    {% endfor %}

                    if(cont != 0){
                        {% if pagina == "PENDIENTE" %}
                        pushtext = "<a href='/ticket/pendientes'>Ver " + cont + " nuevas actualizaciones</a>";
                        {% endif %}
                        {% if pagina == "ATENDIDO" %}
                        pushtext = "<a href='/ticket/atendidos'>Ver " + cont + " nuevas actualizaciones</a>";
                        {% endif %}
                        {% if pagina == "SOLUCIONADO" %}
                        pushtext = "<a href='/ticket/solucionados'>Ver " + cont + " nuevas actualizaciones</a>";
                        {% endif %}
                        {% if pagina == "NO_SOLUCIANDO" %}
                        pushtext = "<a href='/ticket/no-solucionados'>Ver " + cont + " nuevas actualizaciones</a>";
                        {% endif %}

                        $('#pushticket').html(pushtext);
                        $('#pushticket').removeAttr('hidden');
                    }
                }
            });
            {% endif %}
        }
        function readyFn() {
            setInterval('actualizarList()',10000)
            // console.log( "ready!" );
        }
        $(window).on( "load", readyFn );
        // jQuery(document).ready( readyFn );
    </script>
{% endblock %}