{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/main"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li class="breadcrumb-item"><a href="/ticket/todos">Tickets</a></li>
            <li class="breadcrumb-item active">{{ titulo }}</li>
        </ol>
        <div class="card-header">
            <i class="fa fa-tasks"></i> {{ titulo }}
        </div>
        <div class="list-group list-group-flush small">
            {% for ticket in ticketList %}
            <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">

                        <small style="color: #828e95"><strong>
                            {{ ticket.usuarioCreacion }}
                        </strong>creó un ticket:
                        <strong>{{ ticket.inconveniente.descripcion }}</strong>
                        &bull; {{ ticket.fechaCreacion | date:'d-m-Y H:i' }}</small>
                        <br />
                        <p>{{ ticket.descripcionBreve }}</p>
                        <div class="pull-right">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                {% if ticket.estado == 'PENDIENTE' %}
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/atender/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="Atender">
                                    <i class="fa fa-level-up" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                                {% if ticket.estado == 'ATENDIDO' %}
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/solucionar/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="Solucionado">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/sin-solucion/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="No solucionado">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    <script>
        function goto(link) {
            console.log(link);
            window.location = link;
        }
    </script>
{% endblock %}