{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/main"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li class="breadcrumb-item"><a href="/ticket/todos">Tickets</a></li>
            <li class="breadcrumb-item active">{{ titulo }}</li>
        </ol>
        <div class="card-header">
            <i class="fa fa-tasks"></i> {{ titulo }}
        </div>
        <div class="list-group list-group-flush small">

            <p class="card-text text-center" id="pushticket" hidden>

            </p>
            {% for ticket in ticketList %}
            <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">

                        <small style="color: #828e95"><strong>
                            {{ ticket.usuarioCreacion }}
                        </strong>creó un ticket:
                        <strong>{{ ticket.inconveniente.descripcion }}</strong>
                        &bull; {{ ticket.fechaCreacion | date:'d-m-Y H:i' }}</small>
                        <br />
                        <p>{{ ticket.descripcionBreve }}</p>
                        <div class="pull-right">
                            {% if perms.ticket.change_state_ticket %}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                {% if ticket.estado == 'PENDIENTE' %}
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/atender/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="Atender">
                                    <i class="fa fa-level-up" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                                {% if ticket.estado == 'ATENDIDO' %}
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/solucionar/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="Solucionado">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/sin-solucion/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="No solucionado">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                                <button type="button" class="btn btn-light"
                                        onclick="goto('/ticket/detalle/{{ ticket.id }}')"
                                        data-toggle="tooltip" data-placement="top" title="Ver detalle">
                                    <i class="fa fa-info-circle " aria-hidden="true"></i>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
{% endblock %}

{% block blockjs %}
    <script>
        function goto(link) {
            console.log(link);
            window.location = link;
        }
        function actualizarList(){
            $.ajax({
                data : {
                    estado:'PENDIENTE',
                },
                url:'/ticket/actualizaciones-ajax/',
                type:'get',
                success: function (data) {
                    var cont = 0;
                    for(var i = 0; i<data.length ; i++){
                        existe = false;
                        {% for ticket in ticketList %}
                            if(data[i].pk == {{ ticket.id }}){
                                existe = true;
                            }
                        {% endfor %}
                        if(!existe){
                            cont++;
                        }
                    }

                    {% for ticket in ticketList %}
                        existe = false;
                        for(var i = 0; i<data.length ; i++){
                            if(data[i].pk == {{ ticket.id }}){
                                existe = true;
                            }
                        }
                        if(!existe) {
                            cont++;
                        }
                    {% endfor %}

                    if(cont != 0){
                        pushtext = "<a href='/ticket/pendientes'>Ver " + cont + " nuevas actualizaciones</a>";
                        $('#pushticket').html(pushtext);
                        $('#pushticket').removeAttr('hidden');
                    }
                }
            });

        }
        function readyFn() {
            setInterval('actualizarList()',60000)
            // console.log( "ready!" );
        }
        $(window).on( "load", readyFn );
        // jQuery(document).ready( readyFn );
    </script>
{% endblock %}