{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <ol class="breadcrumb" padding="6px">
            <li><a href="/main">Principal</a></li>
            {% if request.user.is_admin %}
                <li><a href="/usuario/listar">Usuarios</a></li>{% endif %}
            <li>Cambiar Password</li>
        </ol>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cambiar contraseña</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="panel-body">
            <div class="col-lg-7">

                <div class="row">

                    <!--Formulario para registrar/modificar un usuario.-->
                    <form role="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">

                            <!--Campo Password Anterior-->
                            <div class="form-group">
                                <label>Contraseña Anterior</label>
                                <input class="form-control" type="password" id="Password" placeholder="*****"
                                       name="PasswordAnterior"
                                       required>
                            </div>

                            <!--Campo Password Nuevo-->
                            <div class="form-group">
                                <label>Contraseña Nueva</label>
                                <input class="form-control" type="password" id="Password" placeholder="*****"
                                       name="PasswordNuevo"
                                       required>
                                <p class="help-block">Utilice al menos 8 caracteres alfanuméricos.</p>
                            </div>

                            <!--Campo Password Nuevo Repetido-->
                            <div class="form-group">
                                <label>Repetir Nueva Contraseña</label>
                                <input class="form-control" type="password" id="Password" placeholder="*****"
                                       name="PasswordRepetido"
                                       required>
                            </div>


                            <!--Botones Modificar y Cancelar-->
                            <div style="text-align: center">
                                <!-- {% if request.user.is_admin %}
                            <a type="button" href="/usuario/listar" class="btn btn-primary">Atrás</a>
                            {% endif %} -->
                                <button type="submit" href="/usuario/CambiarPassword/{{ id }}" class="btn btn-primary">
                                    Modificar
                                </button>

                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
